.card-container {
    position: relative;
    border-radius: 10px;
    width: 25vw;
    height: 500px;
    display: flex;
    overflow: hidden;
    margin: 1em auto;
}

.card-container img {
    min-width:100%;
    min-height: 100%;
    transition: transform .8s;
    object-fit: cover;
}

.card-container img:hover {
    transform: scale(1.1)
}